@import '../custom';
@import './component';
body{
	background-color: #fff;
	font-size: 18px;
	color:$dark;
	font-weight: 600;
	background-image: linear-gradient(180deg, $primary-color, #0800da);
	background-size: 100% 500px;
	background-repeat: no-repeat;
}
.form-control[readonly] {
	background-color: transparent;
}


// main menu
header{	
	position: relative;
	z-index: 99;
	font-size: 16px;
	.section__title{
		color: #fff;
	}
	.section__rule{
		padding: 30px 0;
	}

	form{
		z-index: 9;
		position: relative;
		.form-group{
			position: relative;
			margin-bottom: 0;
			width: 100%;
			.form-control{
				@include arrow;
				padding-left: 2.6em;
				height: 55px;				
				width: 100%;
				font-size: 1em;
				border-radius: 8px;
				&:focus{
					& + span{
						display: none;
						& + .hide{
							display: inline-block !important;
						} 
					}
					
				}

			}
			span{
				position: absolute;
				left: 14px;
				color: #fff;
				top: 17px;
				&.hide{
					display: none;
				}
				&:not(.hide){
					pointer-events: none;
				}
			}

			::placeholder{
				color:#fff;
			}

		}
	}

	button{
		@include button;	
	}


}

.arrow__header{
	height: 200px;
	.nav{
		justify-content: space-between;
	}
	button{
		@include arrow;
		padding: 0 !important;
		span{
			margin: 0 !important;
		}
	}
}



.search{
	@include card;
	position: fixed;
	width: 490px;
	top: 0;
	left: -500px;
	z-index: 12;
	max-height: 100vh;
	overflow-y: scroll;
	@include transition-in;
	@include responsivesm{
		width: 100%;
	}
	&.active{
		@include transition-out;
		left: 0px;
	}
	
}
